In [50]:
from pathlib import Path
import pandas as pd 
import json

In [55]:
raw_data_path = Path("../data/0_raw_data.json")

In [56]:
with open(raw_data_path, 'r') as json_file:
    raw_data = json.load(json_file)

asset = pd.DataFrame([item for sublist in raw_data for item in sublist])

In [57]:
asset

,id,title,slug,description,showAnalytics,createdAt,isFromStore,category,likeCount,status,...,specs,store,user,price,pricePreview,priceUnit,oldPrice,priceType,exchangeType,smallDescription
0,33222528,Location Appartement F3 Alger Ouled fayet,appartement-location-f3-alger-ouled-fayet-algerie,Offer de location d'un bell appartement f3 d...,True,2022-12-20T01:50:31.000Z,False,{'name': 'Appartement'},2,PUBLISHED,...,"[{'specification': {'label': 'Paiement par', '...",None,{'id': '7029337'},80000.0,8.0,MILLION,NaN,None,None,[{'valueText': ['87 m²']}]
1,34006560,Location Appartement F2 Alger Bordj el kiffan,appartement-location-f2-alger-bordj-el-kiffan-...,Agence immobilière \n***** EL DJAZAIRIA *****\...,False,2022-12-20T01:45:06.000Z,True,{'name': 'Appartement'},0,PUBLISHED,...,"[{'specification': {'label': 'Paiement par', '...","{'id': '13319', 'name': 'Agence Immobilière EL...",{'id': '836448'},45000.0,45000.0,UNIT,NaN,FIXED,NOT_EXCHANGEABLE,[{'valueText': ['49 m²']}]
2,34342789,Location Appartement F8 Alger Hydra,appartement-location-f8-alger-hydra-algerie,Agence immobilier met en location appartement ...,True,2022-12-20T01:37:03.000Z,False,{'name': 'Appartement'},1,PUBLISHED,...,"[{'specification': {'label': 'Paiement par', '...",None,{'id': '6975347'},150000.0,15.0,MILLION,NaN,NEGOTIABLE,None,[{'valueText': ['250 m²']}]
3,34568605,Location Local Alger Birkhadem,local-location-alger-birkhadem-algerie,Agence loue local commercial de villa situe à ...,True,2022-12-20T01:30:17.000Z,True,{'name': 'Local'},0,PUBLISHED,...,"[{'specification': {'label': 'Superficie', 'co...","{'id': '1793', 'name': 'Agence Le Premier Pas'...",{'id': '612749'},110000.0,110000.0,UNIT,NaN,None,None,[{'valueText': ['95 m²']}]
4,34326841,Location Appartement F3 Alger Bordj el kiffan,appartement-location-f3-alger-bordj-el-kiffan-...,Agence immobilière\n***** EL DJAZAIRIA *****\n...,False,2022-12-20T01:30:07.000Z,True,{'name': 'Appartement'},0,PUBLISHED,...,"[{'specification': {'label': 'Paiement par', '...","{'id': '13319', 'name': 'Agence Immobilière EL...",{'id': '836448'},45000.0,45000.0,UNIT,NaN,NEGOTIABLE,NOT_EXCHANGEABLE,[{'valueText': ['90 m²']}]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40411,2101527,Location Appartement F4 Alger Hydra,alger-hydra-algerie-appartement-location-f4,Bureau d'Affaires Orchidée met en location un ...,True,2013-06-18T07:48:52.000Z,True,{'name': 'Appartement'},0,PUBLISHED,...,"[{'specification': {'label': 'Superficie', 'co...","{'id': '1514', 'name': 'Bureau d'Affaires Orch...",{'id': '401194'},200000.0,200000.0,UNIT,NaN,OFFERED,None,[]
40412,3019544,Location Villa Alger Hydra,alger-hydra-algerie-villa-location,"Bureau d'Affaires Orchidée, met en location un...",True,2013-05-15T08:28:28.000Z,True,{'name': 'Villa'},0,PUBLISHED,...,"[{'specification': {'label': 'Superficie', 'co...","{'id': '1514', 'name': 'Bureau d'Affaires Orch...",{'id': '401194'},800000.0,800000.0,UNIT,NaN,NEGOTIABLE,None,[]
40413,2912804,Location Niveau De Villa Alger Hussein dey,alger-hussein-dey-algerie-niveau-de-villa-loca...,le patrimoine loue un jolie f3 70 m toutes com...,True,2013-05-05T12:01:16.000Z,True,{'name': 'Niveau De Villa'},1,PUBLISHED,...,"[{'specification': {'label': 'Superficie', 'co...","{'id': '1618', 'name': 'Agence Immobilière ', ...",{'id': '542213'},50000.0,5.0,MILLION,NaN,NEGOTIABLE,None,[]
40414,2640386,Location Appartement F4 Alger Hydra,alger-hydra-algerie-appartement-location-f4,Bureau d'Affaires Orchidée met en location un ...,True,2013-03-09T08:40:17.000Z,True,{'name': 'Appartement'},0,PUBLISHED,...,"[{'specification': {'label': 'Superficie', 'co...","{'id': '1514', 'name': 'Bureau d'Affaires Orch...",{'id': '401194'},150000.0,150000.0,UNIT,NaN,NEGOTIABLE,None,[]
40415,2597859,Location Local Alger Birkhadem,alger-birkhadem-algerie-local-location,Bureau d'Affaires Orchidée met en location un ...,True,2013-02-25T19:49:18.000Z,True,{'name': 'Local'},0,PUBLISHED,...,"[{'specification': {'label': 'Superficie', 'co...","{'id': '1514', 'name': 'Bureau d'Affaires Orch...",{'id': '401194'},45000.0,45000.0,UNIT,NaN,NEGOTIABLE,None,[]

In [65]:
asset["createdAt"]

0        2022-12-20T01:50:31.000Z
1        2022-12-20T01:45:06.000Z
2        2022-12-20T01:37:03.000Z
3        2022-12-20T01:30:17.000Z
4        2022-12-20T01:30:07.000Z
                   ...
40411    2013-06-18T07:48:52.000Z
40412    2013-05-15T08:28:28.000Z
40413    2013-05-05T12:01:16.000Z
40414    2013-03-09T08:40:17.000Z
40415    2013-02-25T19:49:18.000Z
Name: createdAt, Length: 40416, dtype: object

In [66]:
cleaned_data = pd.read_parquet("/Users/anis/Desktop/mlopszoomcamp_2023_project/data/1_cleaned_data.parquet")

In [67]:
cleaned_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40416 entries, 0 to 40415
Data columns (total 23 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           40416 non-null  int64
 1   category                     40416 non-null  category
 2   slug                         40416 non-null  string
 3   description                  38541 non-null  string
 4   price                        40416 non-null  float64
 5   priceType                    30872 non-null  category
 6   priceUnit                    40416 non-null  category
 7   wilaya                       40390 non-null  category
 8   commune                      40390 non-null  category
 9   createdAt                    40416 non-null  datetime64[ns, UTC]
 10  likeCount                    40416 non-null  int64
 11  isFromStore                  40416 non-null  bool
 12  store                        17796 non-null  object
 13  location_duree               31715 non-null  Int64
 14  superficie                   36549 non-null  Int64
 15  pieces                       30195 non-null  Int64
 16  asset-in-a-promotional-site  40416 non-null  bool
 17  property-specifications      26880 non-null  category
 18  papers                       9424 non-null   category
 19  etages                       27538 non-null  Int64
 20  sale-by-real-estate-agent    40416 non-null  bool
 21  property-payment-conditions  3901 non-null   category
 22  medias                       40416 non-null  object
dtypes: Int64(4), bool(3), category(8), datetime64[ns, UTC](1), float64(1), int64(2), object(2), string(2)
memory usage: 4.4+ MB

In [74]:
def ma_func(): 
    
    def get_commune(x: list):
        """get the commune column"""
        # x = list_to_dict(x)
        try:
            commune = x[0]["name"]
        except:
            commune = None
        return commune


    def get_wilaya(x: list):
        """get the wilaya column"""
        # x = list_to_dict(x)
        try:
            wilaya = x[0]["region"]["name"]
        except:
            wilaya = None
        return wilaya

In [73]:
ma_func()

In [75]:
get_commune()

NameError: name 'get_commune' is not defined