In [41]:
from pathlib import Path
import pandas as pd 
import json

In [42]:
raw_data_path = Path("../data/0_raw_data__0.json")

In [43]:
with open(raw_data_path, 'r') as json_file:
    raw_data = json.load(json_file)

asset = pd.DataFrame([item for sublist in raw_data for item in sublist])

In [44]:
asset

,id,title,slug,description,showAnalytics,createdAt,isFromStore,category,likeCount,status,...,specs,store,user,price,pricePreview,priceUnit,oldPrice,priceType,exchangeType,smallDescription
0,37280677,Location Appartement F2 Alger Alger centre,appartement-location-f2-alger-centre-algerie,Agence loue un duplex en plein centre d'alger ...,True,2023-08-16T16:17:01.000Z,True,{'name': 'Appartement'},0,PUBLISHED,...,None,"{'id': '10239', 'name': 'Le vieux carré', 'slu...",{'id': '3517544'},55000,55000.0,UNIT,NaN,NEGOTIABLE,None,[{'valueText': ['50 m²']}]
1,36715463,Location Niveau De Villa F2 Alger Les eucalyptus,niveau-de-villa-location-f2-alger-les-eucalypt...,lagence immo rissala met en location f2 1er et...,True,2023-08-16T16:16:05.000Z,True,{'name': 'Niveau De Villa'},3,PUBLISHED,...,None,"{'id': '1245', 'name': 'Agence EL-RISSALA', 's...",{'id': '375790'},20000,2.0,MILLION,NaN,FIXED,None,[{'valueText': ['60 m²']}]
2,32364831,Location Immeuble Alger Hydra,immeuble-location-alger-hydra-algerie,l'agence immobilière el sol met en location un...,True,2023-08-16T16:15:15.000Z,True,{'name': 'Immeuble'},0,PUBLISHED,...,None,"{'id': '1338', 'name': 'Agence El SOL', 'slug'...",{'id': '415632'},1600000,160.0,MILLION,NaN,NEGOTIABLE,NOT_EXCHANGEABLE,[{'valueText': ['600 m²']}]
3,36841411,Location Local Alger Draria,local-location-alger-draria-algerie,J'ai un local à loué de 28 m2 avec sanitaire7 ...,True,2023-08-16T15:40:00.000Z,False,{'name': 'Local'},0,PUBLISHED,...,None,None,{'id': '9316175'},300000000,30000.0,MILLION,NaN,None,None,[{'valueText': ['28 m²']}]
4,37263055,Location Appartement F3 Oran Oran,appartement-location-f3-oran-algerie,A LOUER VIDE F3 83 M2 GAMBETTA SODA RUCH 2ème ...,True,2023-08-16T15:39:31.000Z,False,{'name': 'Appartement'},0,EDITED,...,None,None,{'id': '3630070'},65000,65000.0,UNIT,NaN,NEGOTIABLE,NOT_EXCHANGEABLE,[{'valueText': ['83 m²']}]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,35611731,Location Appartement F4 Alger El achour,appartement-location-f4-alger-el-achour-algerie,Loue un jolie appartement F4 avec cuisine équi...,True,2023-08-16T14:24:54.000Z,True,{'name': 'Appartement'},0,PUBLISHED,...,None,"{'id': '10606', 'name': 'AG Ibnsina', 'slug': ...",{'id': '3629374'},70000,70000.0,UNIT,NaN,NEGOTIABLE,None,[{'valueText': ['100 m²']}]
116,37162817,Location Villa Alger Kouba,villa-location-alger-kouba-algerie,Loue une villa de 330m²/190m² lotissement Al M...,True,2023-08-16T14:24:54.000Z,True,{'name': 'Villa'},0,PUBLISHED,...,None,"{'id': '10606', 'name': 'AG Ibnsina', 'slug': ...",{'id': '3629374'},4000000000,400000.0,MILLION,NaN,NEGOTIABLE,None,[{'valueText': ['330 m²']}]
117,37172787,Location Appartement F3 Alger Cheraga,appartement-location-f3-alger-cheraga-algerie,Loue un jolie F3 équipé est meublée de tout au...,True,2023-08-16T14:24:54.000Z,True,{'name': 'Appartement'},0,PUBLISHED,...,None,"{'id': '10606', 'name': 'AG Ibnsina', 'slug': ...",{'id': '3629374'},1300000000,130000.0,MILLION,NaN,FIXED,None,[{'valueText': ['80 m²']}]
118,37278895,Location Appartement F5 Alger Said hamdine,appartement-location-f5-alger-said-hamdine-alg...,Said Hamdine côté fac de droit location F5 nou...,True,2023-08-16T14:20:41.000Z,True,{'name': 'Appartement'},0,PUBLISHED,...,None,"{'id': '16695', 'name': 'Dady transaction', 's...",{'id': '6266118'},150000,15.0,MILLION,NaN,None,None,[{'valueText': ['125 m²']}]
119,36877975,Location Appartement F3 Alger El achour,appartement-location-f3-alger-el-achour-algerie,Immo souhaib ment en location un appartement a...,True,2023-08-16T14:16:12.000Z,True,{'name': 'Appartement'},0,PUBLISHED,...,None,"{'id': '5039', 'name': 'Immo Souhaib', 'slug':...",{'id': '1465034'},32000,32000.0,UNIT,NaN,None,None,[{'valueText': ['75 m²']}]

In [45]:
asset["specs"]

0      None
1      None
2      None
3      None
4      None
       ...
115    None
116    None
117    None
118    None
119    None
Name: specs, Length: 120, dtype: object

In [29]:
cleaned_data = pd.read_parquet("/Users/anis/Desktop/mlopszoomcamp_2023_project/data/1_cleaned_data.parquet")

In [47]:
cleaned_data.columns

Index(['id', 'category', 'slug', 'description', 'price', 'priceType',
       'priceUnit', 'wilaya', 'commune', 'createdAt', 'likeCount',
       'isFromStore', 'store', 'location_duree', 'superficie', 'pieces',
       'asset-in-a-promotional-site', 'property-specifications', 'papers',
       'etages', 'sale-by-real-estate-agent', 'property-payment-conditions',
       'medias'],
      dtype='object')

In [49]:
asset.columns

Index(['id', 'title', 'slug', 'description', 'showAnalytics', 'createdAt',
       'isFromStore', 'category', 'likeCount', 'status', 'cities', 'medias',
       'specs', 'store', 'user', 'price', 'pricePreview', 'priceUnit',
       'oldPrice', 'priceType', 'exchangeType', 'smallDescription'],
      dtype='object')